// Import bootstrap (with variable.less)
//@import "bootstrap.less";
@import "variables.less"; // ONLY DEV

// Use icons
//@import "ionicons/ionicons.less";


// Fonts (all fonts utility in project)
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body {
  padding:0;
  margin:0;
}


// Aux
.youtube-responsive  {
  position:  relative;
  padding-bottom:  56.25%;
  height:  0;
  overflow:  hidden;
  max-width:  100%;
}
.youtube-responsive iframe,
.youtube-responsive object,
.youtube-responsive embed  {
  position:  absolute;
  top:  0;
  left:  0;
  width:  100%;
  height:  100%;
}


/*
  HEADER
*/

header {
  background-image: url("../imagens/header_background.png");
  background-position: center;
  background-size: cover;
  height: 240px;


  // Title header
  & h2 {
    margin: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 30px;
    font-size: 50px;
  }


  // Text header (hidden for the small screen)
  & p {
    display: none;
  }

  // List the social buttons
  & ul.social {
    list-style: none;
    margin-left: -35px;

    & li {
      display:inline;
      font-size:40px;
      color:white;
      background:#030303;
      padding:5px 15px;
      border-radius: 46px;
      -webkit-border-radius: 46px;
      -moz-border-radius: 46px;
      opacity: 0.7;
      -moz-opacity: 0.7;
      filter: alpha(opacity=70);

      & a { color: #F4F4F4; }

      &:hover {
        transition-duration: 1s;
        background: @brand-primary;
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
      }
    }

  }
}


.features {
  margin-top: 25px;

  & .feature {
    & .icon {
      color: white;
      background-color: @brand-primary;
      font-size: 80px;
      width: 115px;
      padding-left: 29px;
      border-radius: 60px;
      margin: 0 auto;
    }

    & h3 {
      font-family: 'Raleway',sans-serif;
      font-weight: 500;
      text-align: center;
      font-size: 20px;
    }

    & p {
      font-family: 'Istok Web',sans-serif;
      padding: 10px;
      text-align: justify;
      color: #848484;
    }
  }
}

.subscribe {
  padding:0 15px 10px;
  margin-top:10px;
  margin-bottom:20px;
  background:@bg-light;

  & .left {
    & h3 {
      font-family: 'Raleway',sans-serif;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
    }

    & p {
      font-family: 'Istok Web',sans-serif;
      text-align: justify;
      color: #848484;
    }

    & form {
      margin-bottom:10px;
    }
  }

}

.testimonials {
  padding:10px;

  & .testimonial {
    font-family: 'Istok Web',sans-serif;
    text-align: justify;
    padding:20px;
    color:#848484;
    font-style: italic;
  }

  & .author {
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
  }
}

.people {
  padding:10px;
  text-align: center;

  & .person {
    display:inline-block;
    position:relative;
    height: 50px;

    & img {
      height: 100%;
    }

    &:hover:after {
      z-index:999;
      content: " ";
      background: @brand-primary;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }
}

